body {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  background-color: #201e1d;
}
button {
  margin-right: 2.5px;
  margin-left: 2.5px;
  width: 75px;
  cursor: pointer;
  box-shadow: 0px 0px 0px gray;
  border: none;
  outline: none;
  padding: 5px;
  border-radius: 5px;
  color: white;
}

#CurrentBoxHeader {
  padding: 10px;
  color: #e1e1e0;
  font-size: 26px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-between;
}
#CurrentBoxHeader button {
  font-family: 'Open Sans', sans-serif;
  background-color:#615f5f;
}
  
#header {
  padding: 10px;
  color: #e1e1e0;
  font-size: 26px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-between;
}
#header button {
  font-family: 'Open Sans', sans-serif;
  background-color:#615f5f;
}
#container {
  width: 770px;
}
#weekdays {
  width: 100%;
  display: flex;
  font-family: 'Open Sans', sans-serif;
  color: #e1e1e0;
}
#weekdays div {
  width: 100px;
  padding: 10px;
}
#calendar {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.day {
  width: 100px;
  padding: 10px;
  height: 150px;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #201e1d;
  border: 2px solid #383737;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0px 0px 0px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-family: 'Open Sans', sans-serif;
  color: #e1e1e0;
}
.assignment {
  width: 210px;
  padding: 10px;
  height: 130px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #201e1d;
  border: 2px solid #383737;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0px 0px 2px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #e1e1e0;
}
.assignment:hover {
  background-color: #615f5f;
}
.assignment + .isCompleted {
  background-color: #615f5f;
}
.exam {
  width: 210px;
  padding: 10px;
  height: 115px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #201e1d;
  border: 2px solid #383737;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0px 0px 2px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #e1e1e0;
}
.exam + .isCompleted {
  background-color: #615f5f;
}
.exam:hover {
  background-color: #615f5f;
}
.schedule {
  width: 210px;
  padding: 10px;
  height: 115px;
  font-family: 'Open Sans', sans-serif;
  cursor: pointer;
  box-sizing: border-box;
  background-color: #201e1d;
  border: 2px solid #383737;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0px 0px 2px #CBD4C2;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  color: #e1e1e0;
}
.schedule + .isCompleted {
  background-color: #615f5f;
}
.schedule:hover {
  background-color: #615f5f;
}
.day:hover {
  background-color: #D3494E;
}
.day + .today {
  background-color:#615f5f;
  border: 2px solid #615f5f;
}

.day + .today:hover {
  background-color: #D3494E;
}

.day + .isWeekend:hover {
  background-color: #D3494E;
}
.day + .isWeekend {
  background-color:#2a2726;
}
.day + .currentDay {
  background-color:#D3494E;
}
.eventSchedule {
  font-size: 12px;
  padding: 3px;
  background-color: #201e1d;
  border: 2px solid #383737;
  border-radius: 10px;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.eventExam {
  font-size: 12px;
  padding: 3px;
  background-color: #201e1d;
  border: 2px solid #383737;
  border-radius: 10px;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.eventAssignment {
  font-size: 11px;
  padding: 3px;
  background-color: #201e1d;
  border: 2px solid #383737;
  border-radius: 10px;
  color: white;
  border-radius: 5px;
  max-height: 55px;
  overflow: hidden;
}
.padding {
  color: #868585;
  background-color: #282424;
  opacity: .5;
  border: 0px solid #383737;
  box-shadow: none !important;
}
#currentBoxContainer {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}
.currentBox {
  width: 245px;
  padding: 10px;
  height: auto;
  box-sizing: border-box;
  background-color: #201e1d;
  border: 2px solid #383737;
  border-radius: 10px;
  margin: 5px;
  box-shadow: 0px 0px 3px #CBD4C2;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  justify-content: start;
}
#AssignmentBoxHeader {
  padding: 10px;
  color: #e1e1e0;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-between;
}
#AssignmentBoxHeader button {
  width: 25px;
  background-color:#615f5f;
}
#ExamBoxHeader {
  padding: 10px;
  color: #e1e1e0;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-between;
}
#ExamBoxHeader button {
  width: 25px;
  background-color:#615f5f;
}
#ScheduleBoxHeader {
  padding: 10px;
  color: #e1e1e0;
  font-size: 20px;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  justify-content: space-between;
}
#ScheduleBoxHeader button {
  width: 25px;
  background-color:#615f5f;
}
.schedules {
  background-color: #ffffe0;
}
.exams {
  background-color: #ffeeda;
}
.assignments {
  background-color: #f0f8ff;
}
#newEventModal, #deleteEventModal {
  z-index: 20;
  padding: 25px;
  background-color: #201e1d;
  border: 2px solid #383737;
  border-radius: 10px;
  box-shadow: 0px 0px 3px black;
  border-radius: 5px;
  width: 350px;
  top: 400px;
  left: calc(50% - 175px);
  position: absolute;
  font-family: 'Open Sans', sans-serif;
  color: white;
}
#eventTitleInput {
  padding: 10px;
  width: 100%;
  font-family: 'Open Sans', sans-serif;
  box-sizing: border-box;
  margin-bottom: 25px;
  border-radius: 3px;
  outline: none;
  border: none;
  box-shadow: 0px 0px 3px gray;
}
#AssignmentSelectContainer {
  padding: 10px;
  color: #d36c6c;
  font-size: 20px;
  font-family: sans-serif;
  display: flex;
  justify-content: space-between;
}
#eventTitleInput.error {
  border: 2px solid red;
}
#cancelButton, #deleteButton {
  font-family: 'Open Sans', sans-serif;
  background-color: #d36c6c;
}
#saveButton, #closeButton {
  font-family: 'Open Sans', sans-serif;
  background-color: #615f5f;
}
#editButton {
  font-family: 'Open Sans', sans-serif;
  background-color: #2a2726;
  
}
#deleteEvent {
  font-family: 'Open Sans', sans-serif;
  background-color: #d36c6c;
  width: 25px;
}
#eventText {
  font-size: 14px;
}
#modalBackDrop {
  top: 0px;
  left: 0px;
  z-index: 10;
  width: 99.5vw;
  height: 120vh;
  position: absolute;
  background-color: rgba(0,0,0,0.8);
}